# The Python Programming Language: Functions

In [1]:
x = 1

In [2]:
x = 1
y = 2
x + y

3

In [3]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

In [4]:
def add_numbers(x, y, z):
    return x + y + z

add_numbers(4, 3, 3)

10

In [5]:
def add_numbers(x, y, z = None):
    return x + y + z

In [6]:
add_numbers(2, 3)

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [7]:
def add_numbers(x, y, z = None):
    if (z == None):
        return x + y
    else:
        return x + y + z
    
add_numbers(1, 2)
add_numbers(1, 2, 3)

6

In [10]:
def do_math(a, b, kind = "add"):
    if (kind == "add"):
        return a + b
    else:
        return a - b
    
do_math(1, 2)

3

# Types & Sequences

In [11]:
type('This is a string')

str

In [12]:
type(None)

NoneType

In [13]:
type(1)

int

In [14]:
type(1.0)

float

In [15]:
type(add_numbers)

function

In [16]:
x = (1, 'x', 2, 'y')
type(x)

tuple

In [17]:
x = [1, 'x', 2, 'y']

In [18]:
type(x)

list

In [19]:
x.append(3.3)

In [20]:
x

[1, 'x', 2, 'y', 3.3]

In [21]:
for item in x:
    print item

1
x
2
y
3.3

In [22]:
i = 0
while (i != len(x)):
    print(x[i])
    i = i + 1

1
x
2
y
3.3

In [23]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [24]:
[1] * 3

[1, 1, 1]

In [25]:
1 in [1, 2, 3]

True

In [26]:
x = 'This is a string'
print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

In [27]:
x[-1]

'g'

In [28]:
x[-4:-2]

'ri'

In [29]:
x[:3]

'Thi'

In [30]:
x[3:]

's is a string'

In [31]:
x[:]

'This is a string'

In [32]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname * 3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [33]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0]
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1]
print(firstname)
print(lastname)

Christopher
Brooks

In [34]:
x = {'Christopher Brooks': 'cbrooks@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks']

'cbrooks@umich.edu'

In [35]:
for name in x:
    print(x[name])

billg@microsoft.com
cbrooks@umich.edu

In [36]:
for name, email in x.items():
    print(name)
    print(email)

Bill Gates
billg@microsoft.com
Christopher Brooks
cbrooks@umich.edu

In [39]:
x = ('Christopher', 'Brooks', 'cbrooks@umich.edu')
fname, lname, email = x

In [40]:
fname

'Christopher'

# More on Strings

In [41]:
sales_record = {'price': 3.24, 
               'num_items': 4, 
               'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'], 
                            sales_record['num_items'], 
                            sales_record['price'], 
                            sales_record['num_items'] * sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96